body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

Header {
    width: 1200px;         
    height: 200px;        
    background-color: grey;
    display: flex;         
    justify-content: center; 
    align-items: center;  
    border: 2px solid black;
    font-family: Helvetica;
    font-size: 100px;
    font-weight:bold;
    color: Olive;
    
}


#intro{
    width: 1200px;          
    height: 400px;        
    background-color: lightgrey; 
    border: 2px solid black; 
    font-size: 15px;
    text-align: justify;
}

#box{
            width: 600px; 
            padding: 20px; 
            border: 2px solid 
            border-radius: 10px;
            background-color: beige; 
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto; 
            text-align: center;
            font-size:25px;
            color:grey;
    font-family:helvetica;
}

#box1{
            width: 600px; 
            padding: 20px; 
            border: 2px solid 
            border-radius: 10px;
            background-color: brown; 
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto; 
            text-align: center;
            font-size:25px;
            color:beige;
    font-family:helvetica;
}

#box2{
            width: 600px; 
            padding: 20px; 
            border: 2px solid 
            border-radius: 10px;
            background-color: lightgrey; 
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto; 
            text-align: center;
            font-size: 25px;
            color:brown;
    font-family:helvetica;
}

#dev{
    align: center;
}

body{
    background-color:grey;
}

